#accroche{
	text-align: center;
}
#container-annonce{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
body{
	overflow-x: hidden;
}
.input-group{
	width: 100%;
}
.imageAccueil {
    width:  280px;
    height: 200px;
    border-radius: 10px;
}
.test{
	position:absolute;
	background-color:  rgba(255, 255, 255, 0.7);;
	width: 280px;
	height: 150px;
	top:50px;
	visibility: hidden;
}
.ui-autocomplete { 
	height: 200px;
	overflow-x: hidden;
}